<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:fragment="content" class="box-grid big-box-grid">
    <div class="box big-rectangle" data-warehouse-use-id="10" onclick="toggleBox(this)">B1</div>
    <div class="box big-rectangle" data-warehouse-use-id="11" onclick="toggleBox(this)">B2</div>
    <div class="box big-rectangle" data-warehouse-use-id="12" onclick="toggleBox(this)">B3</div>
    <div class="box big-rectangle" data-warehouse-use-id="13" onclick="toggleBox(this)">B4</div>
</div>
</html>