<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:fragment="content" class="box-grid a-grid">

    <label class="custom-check"><input type="checkbox" name="" id=""/><span>A1</span></label>

    <div class="a-box rectangle-29" data-warehouse-use-id="1" onclick="toggleBox(this)">A1</div>
    <div class="a-box rectangle-30" data-warehouse-use-id="2" onclick="toggleBox(this)">A2</div>
    <div class="a-box rectangle-31" data-warehouse-use-id="3" onclick="toggleBox(this)">A3</div>
    <div class="a-box rectangle-32" data-warehouse-use-id="4" onclick="toggleBox(this)">A4</div>
    <div class="a-box rectangle-33" data-warehouse-use-id="5" onclick="toggleBox(this)">A5</div>
    <div class="a-box rectangle-34" data-warehouse-use-id="6" onclick="toggleBox(this)">A6</div>
    <div class="a-box rectangle-35" data-warehouse-use-id="7" onclick="toggleBox(this)">A7</div>
    <div class="a-box rectangle-36" data-warehouse-use-id="8" onclick="toggleBox(this)">A8</div>
    <div class="a-box rectangle-37" data-warehouse-use-id="9" onclick="toggleBox(this)">A9</div>
</div>
</html>
