<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
    <link rel="stylesheet" href="/css/warehouse.css">
<!--    <link rel="stylesheet" href="/css/vars.css">-->
</head>
<body>
<div class="other-proucts">
    <div class="tab-menu-A"></div>
    <div class="tab-menu-B"></div>
    <div class="tab-menu-C"></div>
    <div class="rectangle-29"></div>
    <div class="rectangle-32"></div>
    <div class="rectangle-35"></div>
    <div class="rectangle-30"></div>
    <div class="rectangle-33"></div>
    <div class="rectangle-36"></div>
    <div class="rectangle-31"></div>
    <div class="rectangle-34"></div>
    <div class="rectangle-37"></div>
    <div class="rectangle-38"></div>
    <div class="div6">기본 가격</div>
    <div class="div7">총 가격</div>
    <div class="div8">기본 면적</div>
    <div class="div9">총 면적</div>
    <div class="input">기간 input ~</div>
    <div class="input2">기간 input</div>
    <div class="rectangle-39"></div>
    <div class="div10">신청</div>
</div>

</body>
</html>
