<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta charset="utf-8" />
  <link rel="stylesheet" href="/css/admin_globals.css" />
  <link rel="stylesheet" href="/css/admin_styleguide.css" />
  <link rel="stylesheet" href="/css/admin_style.css" />
</head>
<body>

<div class="screen">
  <div class="div">
    <div class="overlap">
      <img class="layer" src="/img/admin/layer-1.svg" />
      <div class="text-wrapper">Logout</div>
      <div class="text-wrapper-2">Warehouse</div>
      <div class="text-wrapper-3">Trades</div>
      <img class="design-tools-grid" src="/img/admin/grid.svg" />
      <div class="text-wrapper-4">Dashboard</div>
      <img class="vector" src="/img/admin/vector.svg" />
      <img class="monochrome-layer" src="/img/admin/layer-group-y.svg" />
      <img class="users-users" src="/img/admin/users.svg" />
      <div class="text-wrapper-5">members</div>
      <img class="user-interface" src="/img/admin/logout.svg" />
    </div>
    <div class="text-wrapper-6">Overview</div>
    <div class="overlap-group">
      <div class="group">
        <div class="group-2">
          <div class="rectangle"></div>
          <div class="rectangle-2"></div>
          <div class="text-wrapper-7">2,654</div>
          <div class="text-wrapper-8">거래 성사 내역</div>
          <div class="rectangle-3"></div>
          <div class="rectangle-4"></div>
          <div class="rectangle-5"></div>
          <div class="rectangle-6"></div>
          <div class="rectangle-7"></div>
          <div class="rectangle-8"></div>
          <div class="rectangle-9"></div>
          <div class="rectangle-10"></div>
          <div class="rectangle-11"></div>
          <div class="rectangle-12"></div>
          <div class="rectangle-13"></div>
          <div class="rectangle-14"></div>
          <div class="rectangle-15"></div>
          <div class="rectangle-16"></div>
          <div class="rectangle-17"></div>
          <div class="rectangle-18"></div>
          <div class="rectangle-19"></div>
          <div class="rectangle-20"></div>
          <div class="rectangle-21"></div>
          <div class="rectangle-22"></div>
          <div class="rectangle-23"></div>
          <div class="text-wrapper-9">Jan</div>
          <div class="text-wrapper-10">Feb</div>
          <div class="overlap-group-2">
            <div class="text-wrapper-11">Mar</div>
            <div class="text-wrapper-11">Mar</div>
          </div>
          <div class="text-wrapper-12">Apr</div>
          <div class="text-wrapper-13">May</div>
          <div class="text-wrapper-14">Jun</div>
          <div class="text-wrapper-15">Jul</div>
          <div class="text-wrapper-16">Aug</div>
          <div class="text-wrapper-17">Sep</div>
          <div class="text-wrapper-18">Oct</div>
          <div class="text-wrapper-19">Nov</div>
          <div class="text-wrapper-20">Dec</div>
          <div class="overlap-group-3">
            <div class="text-wrapper-21">THIS YEAR</div>
            <img class="polygon" src="img/polygon-1-2.svg" />
          </div>
        </div>
      </div>
      <div class="group">
        <div class="group-2">
          <div class="rectangle"></div>
          <div class="text-wrapper-7">2,654</div>
          <div class="text-wrapper-8">거래 성사 내역</div>
          <div class="rectangle-3"></div>
          <div class="rectangle-4"></div>
          <div class="rectangle-6"></div>
          <div class="rectangle-8"></div>
          <div class="rectangle-10"></div>
          <div class="overlap-2">
            <img class="img" src="img/rectangle-31.svg" />
            <div class="rectangle-24"></div>
          </div>
          <div class="rectangle-12"></div>
          <div class="rectangle-16"></div>
          <div class="rectangle-18"></div>
          <div class="rectangle-20"></div>
          <div class="rectangle-22"></div>
          <div class="text-wrapper-9">Jan</div>
          <div class="text-wrapper-10">Feb</div>
          <div class="overlap-group-2">
            <div class="text-wrapper-11">Mar</div>
            <div class="text-wrapper-11">Mar</div>
          </div>
          <div class="text-wrapper-12">Apr</div>
          <div class="text-wrapper-13">May</div>
          <div class="text-wrapper-14">Jun</div>
          <div class="text-wrapper-15">Jul</div>
          <div class="text-wrapper-16">Aug</div>
          <div class="text-wrapper-17">Sep</div>
          <div class="text-wrapper-18">Oct</div>
          <div class="text-wrapper-19">Nov</div>
          <div class="text-wrapper-20">Dec</div>
          <div class="overlap-group-3">
            <div class="text-wrapper-21">THIS YEAR</div>
            <img class="polygon" src="img/polygon-1.svg" />
          </div>
        </div>
      </div>
    </div>
    <div class="overlap-3">
      <div class="overlap-4">
        <div class="text-wrapper-22">Total Trades</div>
        <div class="text-wrapper-23">100,345</div>
        <img class="vector-2" src="/img/admin/total_trade.svg" />
      </div>
      <div class="overlap-5">
        <div class="group-3">
          <img class="path" src="/img/admin/total_member.svg" />
        </div>
        <div class="text-wrapper-24">Total Members</div>
        <div class="text-wrapper-25">100,345</div>
      </div>
    </div>
    <div class="overlap-6">
      <div class="overlap-7">
        <div class="text-wrapper-26">85</div>
        <div class="ellipse"></div>
        <img class="ellipse-2" src="img/ellipse-3.svg" />
        <div class="text-wrapper-27">%</div>
      </div>
      <div class="overlap-8">
        <div class="text-wrapper-28">66</div>
        <div class="ellipse"></div>
        <img class="ellipse-3" src="img/ellipse-7.svg" />
        <div class="text-wrapper-29">%</div>
      </div>
      <div class="text-wrapper-30">창고 현황</div>
      <div class="text-wrapper-31">A창고</div>
      <div class="text-wrapper-32">B창고</div>
      <div class="overlap-9">
        <div class="text-wrapper-33">90</div>
        <div class="ellipse"></div>
        <img class="ellipse-4" src="img/ellipse-9.svg" />
        <div class="text-wrapper-27">%</div>
      </div>
      <div class="text-wrapper-34">C창고</div>
      <img class="user-interface-menu" src="img/menu.svg" />
    </div>
    <div class="overlap-10">
      <div class="text-wrapper-35">회원 정보</div>
      <div class="rectangle-wrapper"><div class="rectangle-25"></div></div>
      <div class="text-wrapper-36">임대인</div>
      <div class="div-wrapper"><div class="rectangle-26"></div></div>
      <div class="text-wrapper-37">임차인</div>
      <div class="text-wrapper-38">63%</div>
      <div class="text-wrapper-39">88%</div>
      <div class="overlap-11"><div class="rectangle-27"></div></div>
      <div class="text-wrapper-40">공인중개사</div>
      <div class="text-wrapper-41">38%</div>
      <img class="user-interface-menu-2" src="img/menu-2.svg" />
    </div>
  </div>
</div>
</body>
</html>
