<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta charset="utf-8" />
  <link rel="stylesheet" href="/css/admin_globals.css" />
  <link rel="stylesheet" href="/css/admin_member_styleguide.css" />
  <link rel="stylesheet" href="/css/admin_member_style.css" />
</head>
<body>
<div class="screen">
  <div class="div">
    <div class="overlap">
      <div class="text-wrapper">Logout</div>
      <div class="text-wrapper-2">Warehouse</div>
      <div class="text-wrapper-3">Trades</div>
      <img class="design-tools-grid" src="/img/admin/grid.svg" />
      <div class="text-wrapper-4">Dashboard</div>
      <img class="vector" src="/img/admin/vector.svg" />
      <img class="monochrome-layer" src="/img/admin/layer-group.svg" />
      <img class="users-users" src="/img/admin/users-y.svg" />
      <div class="text-wrapper-5">members</div>
      <img class="user-interface" src="/img/admin/logout.svg" />
      <img class="layer" src="/img/admin/layer-1.svg" />
    </div>
    <div class="text-wrapper-6">Members</div>
    <div class="overlap-group">
      <div class="rectangle"></div>
      <div class="rectangle-2"></div>
      <div class="rectangle-3"></div>
      <div class="rectangle-4"></div>
      <div class="rectangle-5"></div>
      <div class="rectangle-6"></div>
      <div class="rectangle-7"></div>
      <div class="rectangle-8"></div>
      <div class="rectangle-9"></div>
      <div class="rectangle-10"></div>
      <div class="rectangle-11"></div>
      <div class="rectangle-12"></div>
      <div class="rectangle-13"></div>
      <div class="text-wrapper-7">아 이 디</div>
      <div class="rectangle-14"></div>
      <div class="rectangle-15"></div>
      <div class="rectangle-16"></div>
      <div class="rectangle-17"></div>
      <div class="rectangle-18"></div>
      <div class="rectangle-19"></div>
      <div class="rectangle-20"></div>
      <div class="rectangle-21"></div>
      <div class="rectangle-22"></div>
      <div class="rectangle-23"></div>
      <div class="rectangle-24"></div>
      <div class="rectangle-25"></div>
      <div class="rectangle-26"></div>
      <div class="text-wrapper-8">번 호</div>
      <div class="rectangle-27"></div>
      <div class="rectangle-28"></div>
      <div class="rectangle-29"></div>
      <div class="rectangle-30"></div>
      <div class="rectangle-31"></div>
      <div class="rectangle-32"></div>
      <div class="rectangle-33"></div>
      <div class="rectangle-34"></div>
      <div class="rectangle-35"></div>
      <div class="rectangle-36"></div>
      <div class="rectangle-37"></div>
      <div class="rectangle-38"></div>
      <div class="rectangle-39"></div>
      <div class="rectangle-40"></div>
      <div class="text-wrapper-9">별 명</div>
      <div class="rectangle-41"></div>
      <div class="rectangle-42"></div>
      <div class="rectangle-43"></div>
      <div class="rectangle-44"></div>
      <div class="rectangle-45"></div>
      <div class="rectangle-46"></div>
      <div class="rectangle-47"></div>
      <div class="rectangle-48"></div>
      <div class="rectangle-49"></div>
      <div class="rectangle-50"></div>
      <div class="rectangle-51"></div>
      <div class="rectangle-52"></div>
      <div class="rectangle-53"></div>
      <div class="rectangle-54"></div>
      <div class="rectangle-55"></div>
      <div class="rectangle-56"></div>
      <div class="rectangle-57"></div>
      <div class="rectangle-58"></div>
      <div class="rectangle-59"></div>
      <div class="rectangle-60"></div>
      <div class="rectangle-61"></div>
      <div class="rectangle-62"></div>
      <div class="rectangle-63"></div>
      <div class="rectangle-64"></div>
      <div class="rectangle-65"></div>
      <div class="rectangle-66"></div>
      <div class="rectangle-67"></div>
      <div class="rectangle-68"></div>
      <div class="rectangle-69"></div>
      <div class="rectangle-70"></div>
      <div class="rectangle-71"></div>
      <div class="rectangle-72"></div>
      <div class="rectangle-73"></div>
      <div class="rectangle-74"></div>
      <div class="rectangle-75"></div>
      <div class="rectangle-76"></div>
      <div class="rectangle-77"></div>
      <div class="rectangle-78"></div>
      <div class="rectangle-79"></div>
      <div class="rectangle-80"></div>
      <div class="rectangle-81"></div>
      <div class="rectangle-82"></div>
      <div class="rectangle-83"></div>
      <div class="rectangle-84"></div>
      <div class="rectangle-85"></div>
      <div class="rectangle-86"></div>
      <div class="rectangle-87"></div>
      <div class="rectangle-88"></div>
      <div class="rectangle-89"></div>
      <div class="rectangle-90"></div>
      <div class="rectangle-91"></div>
      <div class="rectangle-92"></div>
      <div class="rectangle-93"></div>
      <div class="rectangle-94"></div>
      <div class="rectangle-95"></div>
      <div class="rectangle-96"></div>
      <div class="rectangle-97"></div>
      <div class="rectangle-98"></div>
      <div class="rectangle-99"></div>
      <div class="rectangle-100"></div>
      <div class="rectangle-101"></div>
      <div class="rectangle-102"></div>
      <div class="rectangle-103"></div>
      <div class="rectangle-104"></div>
      <div class="text-wrapper-10">권 한</div>
      <div class="text-wrapper-11">연 락 처</div>
      <div class="text-wrapper-12">가입 구분</div>
      <div class="text-wrapper-13">이 름</div>
      <div class="text-wrapper-14">가 입 일</div>
    </div>
    <div class="overlap-2">
      <img class="img" src="img/magnifier.svg" />
      <div class="text-wrapper-15">검색어를 입력해주세요.</div>
    </div>
    <div class="overlap-3">
      <div class="text-wrapper-16">이름</div>
      <img class="polygon" src="img/polygon-1.svg" />
    </div>
  </div>
</div>
</body>
</html>
