<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta charset="utf-8" />
  <link rel="stylesheet" href="/css/admin_globals.css" />
  <link rel="stylesheet" href="/css/admin_member_detail_styleguide.css" />
  <link rel="stylesheet" href="/css/admin_member_detail_style.css" />
</head>
<body>
<div class="screen">
  <div class="div">
    <div class="overlap">
      <div class="text-wrapper">Logout</div>
      <div class="text-wrapper-2">Warehouse</div>
      <div class="text-wrapper-3">Trades</div>
      <img class="design-tools-grid" src="/img/admin/grid.svg" />
      <div class="text-wrapper-4">Dashboard</div>
      <img class="vector" src="/img/admin/vector.svg" />
      <img class="monochrome-layer" src="/img/admin/layer-group.svg" />
      <img class="users-users" src="/img/admin/users-y.svg" />
      <div class="text-wrapper-5">members</div>
      <img class="user-interface" src="/img/admin/logout.svg" />
      <img class="layer" src="/img/admin/layer-1.svg" />
    </div>
    <div class="members-member-id">Members {"{"}member_id{"}"}님</div>
    <div class="overlap-group">
      <div class="div-wrapper"><div class="text-wrapper-6">아 이 디</div></div>
      <div class="overlap-2"><div class="text-wrapper-7">eggplant</div></div>
      <div class="overlap-3"><div class="text-wrapper-6">별&nbsp;&nbsp;명</div></div>
      <div class="overlap-4"><div class="text-wrapper-6">이&nbsp;&nbsp;름</div></div>
      <div class="overlap-5"><div class="text-wrapper-6">연 락 처</div></div>
      <div class="overlap-6"><div class="text-wrapper-6">권&nbsp;&nbsp;한</div></div>
      <div class="overlap-7"><div class="text-wrapper-6">가입일</div></div>
      <div class="overlap-8"><div class="text-wrapper-6">가입 구분</div></div>
      <div class="overlap-9"><div class="text-wrapper-7">가지치기</div></div>
      <div class="overlap-10"><div class="text-wrapper-7">010-1234-5678</div></div>
      <div class="overlap-11"><div class="text-wrapper-7">김 가 지</div></div>
      <div class="overlap-12"><div class="text-wrapper-7">2025-06-26</div></div>
      <div class="overlap-13"><div class="text-wrapper-7">임 대 인</div></div>
      <div class="overlap-14"><div class="text-wrapper-7">관리자</div></div>
      <div class="text-wrapper-8">Detail</div>
      <div class="text-wrapper-9">정보수정</div>
      <img class="img" src="img/setting.svg" />
    </div>
    <div class="overlap-15">
      <div class="group"></div>
      <div class="group"></div>
      <img class="group-2" src="img/group-8.png" />
      <div class="rectangle"></div>
      <div class="rectangle-2"></div>
      <div class="rectangle-3"></div>
      <div class="rectangle-4"></div>
      <div class="rectangle-5"></div>
      <div class="rectangle-6"></div>
      <div class="rectangle-7"></div>
      <div class="rectangle-8"></div>
      <div class="rectangle-9"></div>
      <div class="rectangle-10"></div>
      <div class="rectangle-11"></div>
      <div class="rectangle-12"></div>
      <div class="text-wrapper-10">Trade List</div>
    </div>
  </div>
</div>
</body>
</html>
