<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="/css/admin_globals.css"/>
    <link rel="stylesheet" href="/css/admin_trades_styleguide.css"/>
    <link rel="stylesheet" href="/css/admin_trades_style.css"/>
</head>
<body>
<div class="screen">
    <div class="div">
        <div class="overlap"><img class="layer" src="/img/admin/layer-1.svg"/>
            <div class="text-wrapper">Logout</div>
            <div class="text-wrapper-2">Warehouse</div>
            <div class="text-wrapper-3">Trades</div>
            <img class="design-tools-grid" src="/img/admin/grid.svg"/>
            <div class="text-wrapper-1">Dashboard</div>
            <img class="vector" src="/img/admin/vector-y.svg"/>
            <img class="monochrome-layer" src="/img/admin/layer-group.svg"/>
            <img class="users-users" src="/img/admin/users.svg"/>
            <div class="text-wrapper-4">members</div>
            <img class="user-interface" src="/img/admin/logout.svg"/></div>
        <div class="text-wrapper-5">Trades</div>
        <div class="group">
            <div class="overlap-group"><img class="img" src="/img/admin/magnifier.svg"/>
                <div class="text-wrapper-6">검색어를 입력해주세요.</div>
            </div>
            <div class="div-wrapper">
                <div class="text-wrapper-7">2022.01.02</div>
            </div>
            <div class="overlap-2">
                <div class="text-wrapper-8">2022.01.02</div>
            </div>
            <div class="overlap-3">
                <div class="text-wrapper-9">거래상태</div>
                <img class="polygon" src="img/polygon-1.svg"/></div>
            <div class="text-wrapper-10">~</div>
        </div>
        <div class="overlap-wrapper">
            <div class="overlap-4">
                <div class="rectangle"></div>
                <div class="overlap-group-2">
                    <div class="text-wrapper-11">게시글ID</div>
                </div>
                <div class="rectangle-2"></div>
                <div class="rectangle-3"></div>
                <div class="rectangle-4"></div>
                <div class="rectangle-5"></div>
                <div class="rectangle-6"></div>
                <div class="rectangle-7"></div>
                <div class="rectangle-8"></div>
                <div class="rectangle-9"></div>
                <div class="rectangle-10"></div>
                <div class="rectangle-11"></div>
                <div class="rectangle-12"></div>
                <div class="rectangle-13"></div>
                <div class="rectangle-14"></div>
                <div class="rectangle-15"></div>
                <div class="rectangle-16"></div>
                <div class="overlap-5">
                    <div class="text-wrapper-12">거래 ID</div>
                </div>
                <div class="overlap-6">
                    <div class="text-wrapper-13">게시글ID</div>
                    <div class="rectangle-17"></div>
                    <div class="text-wrapper-14">임차인</div>
                </div>
                <div class="rectangle-18"></div>
                <div class="rectangle-19"></div>
                <div class="rectangle-20"></div>
                <div class="rectangle-21"></div>
                <div class="rectangle-22"></div>
                <div class="rectangle-23"></div>
                <div class="rectangle-24"></div>
                <div class="rectangle-25"></div>
                <div class="rectangle-26"></div>
                <div class="rectangle-27"></div>
                <div class="rectangle-28"></div>
                <div class="rectangle-29"></div>
                <div class="rectangle-30"></div>
                <div class="rectangle-31"></div>
                <div class="rectangle-32"></div>
                <div class="rectangle-33"></div>
                <div class="rectangle-34"></div>
                <div class="rectangle-35"></div>
                <div class="rectangle-36"></div>
                <div class="rectangle-37"></div>
                <div class="rectangle-38"></div>
                <div class="rectangle-39"></div>
                <div class="rectangle-40"></div>
                <div class="overlap-7">
                    <div class="text-wrapper-14">임대인</div>
                </div>
                <div class="rectangle-41"></div>
                <div class="rectangle-42"></div>
                <div class="rectangle-43"></div>
                <div class="rectangle-44"></div>
                <div class="rectangle-45"></div>
                <div class="rectangle-46"></div>
                <div class="rectangle-47"></div>
                <div class="rectangle-48"></div>
                <div class="rectangle-49"></div>
                <div class="rectangle-50"></div>
                <div class="overlap-8">
                    <div class="text-wrapper-15">거래상태</div>
                </div>
                <div class="rectangle-51"></div>
                <div class="rectangle-52"></div>
                <div class="rectangle-53"></div>
                <div class="rectangle-54"></div>
                <div class="rectangle-55"></div>
                <div class="rectangle-56"></div>
                <div class="rectangle-57"></div>
                <div class="rectangle-58"></div>
                <div class="rectangle-59"></div>
                <div class="overlap-9">
                    <div class="text-wrapper-16">요청일</div>
                </div>
                <div class="rectangle-60"></div>
                <div class="rectangle-61"></div>
            </div>
        </div>
    </div>
</div>
</body>
</html>