<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/css/globals.css" />
    <link rel="stylesheet" href="/css/styleguide.css" />
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
<div class="designer-sign-up">
    <div class="overlap">
        <div class="frame">
            <img class="instagram-svg" src="img/instagram-svg.svg" />
            <img class="element-facebook" src="img/image.png" />
            <div class="youtube-svg">
                <div class="g"><img class="img" src="img/g-12-2.png" /></div>
            </div>
        </div>
        <div class="text-wrapper">
            이용약관&nbsp;&nbsp;개인정보처리방침&nbsp;&nbsp;위치기반서비스 이용약관&nbsp;&nbsp;이메일
            무단수집거부&nbsp;&nbsp;법적고지&nbsp;&nbsp;사업자정보
        </div>
        <div class="overlap-group">
            <p class="element">
                대표이사 : 이몽룡&nbsp;&nbsp;|&nbsp;&nbsp;개인정보보호책임자 : 임춘향 | 사업자등록번호 : 8282-82-828282<br />통신판매업종신고
                : 제 2025-서울강남구-8282 | 대표이메일 : gagi@gagi.store<br />copyright ⓒ 2021. 가지 : 가장가까운지역창고
                Co., Ltd. All rights reserved.
            </p>
            <footer class="footer">
                <div class="footer-menu">
                    <div class="div">
                        <div class="div-wrapper"><div class="text-wrapper-2">راهنمای خرید</div></div>
                        <div class="frame-2">
                            <div class="text-wrapper-3">راهنمای ثبت سفارش</div>
                            <div class="text-wrapper-4">شیوه های پرداخت</div>
                            <div class="text-wrapper-4">نحوه ارسال سفارش ها</div>
                            <div class="text-wrapper-4">شرایط بازگرداندن محصول</div>
                        </div>
                    </div>
                    <div class="frame-3">
                        <div class="frame-4"><div class="text-wrapper-2">خدمات مشتریان</div></div>
                        <div class="frame-5">
                            <div class="text-wrapper-3">سوالات متداول</div>
                            <div class="text-wrapper-4">حریم خصوصی</div>
                            <div class="text-wrapper-4">ثبت شکایت</div>
                            <div class="text-wrapper-4">ضمانت نامه&nbsp;&nbsp;محصولات</div>
                        </div>
                    </div>
                    <div class="frame-6">
                        <div class="frame-7"><div class="text-wrapper-5">همراه با کاستومی</div></div>
                        <div class="frame-8">
                            <div class="text-wrapper-3">فروش محصولات</div>
                            <div class="text-wrapper-4">فرصت همکاری</div>
                            <div class="text-wrapper-4">تماس با ما</div>
                            <div class="text-wrapper-4">نقشه سایت</div>
                        </div>
                    </div>
                </div>
                <div class="footer-up"></div>
                <div class="contact">
                    <p class="p">پاسخگویی ۲۴ ساعته ، ۷ روز هفته</p>
                    <div class="text-wrapper-6">تماس با پشتیبانی :</div>
                    <div class="text-wrapper-7">۰۲۱-۳۴۵۶۰۰۰</div>
                </div>
                <div class="text-wrapper-8">فروشگاه اینترنتی کاستومی</div>
                <div class="license">
                    <img class="element-2" src="/images/icon.png" />
                </div>
                <p class="text-wrapper-9">تمام حقوق این وبسایت متعلق به فروشگاه آنلاین کاستومی می باشد</p>
            </footer>
            <div class="frame-9">
                <img class="instagram-svg-2" src="/img/icon.png" />
                <img
                        class="element-facebook-2"
                        src="/img/icon.png"
                />
                <div class="youtube-svg"><div class="g-2"></div></div>
            </div>
            <div class="text-wrapper-10">
                이용약관&nbsp;&nbsp;개인정보처리방침&nbsp;&nbsp;위치기반서비스 이용약관&nbsp;&nbsp;이메일
                무단수집거부&nbsp;&nbsp;법적고지&nbsp;&nbsp;사업자정보
            </div>
            <p class="element-5">
                대표이사 : 이몽룡&nbsp;&nbsp;|&nbsp;&nbsp;개인정보보호책임자 : 임춘향 | 사업자등록번호 : 8282-82-828282<br />통신판매업종신고
                : 제 2025-서울강남구-8282 | 대표이메일 : gagi@gagi.store<br />copyright ⓒ 2021. 가지 : 가장가까운지역창고
                Co., Ltd. All rights reserved.
            </p>
        </div>
    </div>
    <div class="group">
        <div class="overlap-group-2">
            <div class="text-wrapper-11">거래내역 조회</div>
            <div class="rectangle"></div>
            <div class="text-wrapper-12">거래상태</div>
            <img class="polygon" src="img/polygon-1.svg" />
        </div>
        <div class="overlap-2">
            <img class="user-interface" src="img/magnifier.svg" />
            <div class="text-wrapper-13">검색어를 입력해주세요.</div>
        </div>
        <div class="overlap-3"><div class="text-wrapper-14">2022.01.02</div></div>
        <div class="overlap-4"><div class="text-wrapper-15">2022.01.02</div></div>
        <div class="text-wrapper-16">~</div>
    </div>
    <div class="overlap-wrapper">
        <div class="overlap-5">
            <div class="rectangle-2"></div>
            <div class="overlap-group-3"><div class="text-wrapper-17">게시글ID</div></div>
            <div class="rectangle-3"></div>
            <div class="rectangle-4"></div>
            <div class="rectangle-5"></div>
            <div class="rectangle-6"></div>
            <div class="rectangle-7"></div>
            <div class="rectangle-8"></div>
            <div class="rectangle-9"></div>
            <div class="rectangle-10"></div>
            <div class="rectangle-11"></div>
            <div class="rectangle-12"></div>
            <div class="rectangle-13"></div>
            <div class="rectangle-14"></div>
            <div class="rectangle-15"></div>
            <div class="rectangle-16"></div>
            <div class="rectangle-17"></div>
            <div class="overlap-6"><div class="text-wrapper-18">거래 ID</div></div>
            <div class="overlap-7">
                <div class="text-wrapper-19">게시글ID</div>
                <div class="rectangle-18"></div>
                <div class="text-wrapper-20">임차인</div>
            </div>
            <div class="rectangle-19"></div>
            <div class="rectangle-20"></div>
            <div class="rectangle-21"></div>
            <div class="rectangle-22"></div>
            <div class="rectangle-23"></div>
            <div class="rectangle-24"></div>
            <div class="rectangle-25"></div>
            <div class="rectangle-26"></div>
            <div class="rectangle-27"></div>
            <div class="rectangle-28"></div>
            <div class="rectangle-29"></div>
            <div class="rectangle-30"></div>
            <div class="rectangle-31"></div>
            <div class="rectangle-32"></div>
            <div class="rectangle-33"></div>
            <div class="rectangle-34"></div>
            <div class="rectangle-35"></div>
            <div class="rectangle-36"></div>
            <div class="rectangle-37"></div>
            <div class="rectangle-38"></div>
            <div class="rectangle-39"></div>
            <div class="rectangle-40"></div>
            <div class="rectangle-41"></div>
            <div class="overlap-8"><div class="text-wrapper-20">임대인</div></div>
            <div class="rectangle-42"></div>
            <div class="rectangle-43"></div>
            <div class="rectangle-44"></div>
            <div class="rectangle-45"></div>
            <div class="rectangle-46"></div>
            <div class="rectangle-47"></div>
            <div class="rectangle-48"></div>
            <div class="rectangle-49"></div>
            <div class="rectangle-50"></div>
            <div class="rectangle-51"></div>
            <div class="overlap-9"><div class="text-wrapper-21">거래상태</div></div>
            <div class="rectangle-52"></div>
            <div class="rectangle-53"></div>
            <div class="rectangle-54"></div>
            <div class="rectangle-55"></div>
            <div class="rectangle-56"></div>
            <div class="rectangle-57"></div>
            <div class="rectangle-58"></div>
            <div class="rectangle-59"></div>
            <div class="rectangle-60"></div>
            <div class="overlap-10"><div class="text-wrapper-22">요청일</div></div>
            <div class="rectangle-61"></div>
            <div class="rectangle-62"></div>
        </div>
    </div>
</div>
</body>
</html>
