<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../css/global.css" />
    <link rel="stylesheet" href="../css/mypage.css" />
    <style>
      :root {
        --bs-primary: #5f328e; /* 예: 보라색으로 변경 */
      }
    </style>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header id="header">
      <div class="container">
        <h1>
          <a href=""><img src="../images/logo.svg" alt="" /></a>
        </h1>
        <nav>
          <ul>
            <li><a href="">자사창고</a></li>
            <li><a href="">빌려드림</a></li>
          </ul>
        </nav>
        <div class="search-box">
          <form action="">
            <input type="text" class="form-control" placeholder="search" />
            <button class="btn" type="button">search</button>
          </form>
        </div>
        <a href="" id="profile">
          <span>김의진</span>
          <span class="img">
            <img src="../images/profile.jpg" alt="" />
          </span>
        </a>
      </div>
    </header>
    <div class="container min-vh-100 mypage-wrap">
      <div class="row">
        <div class="col-4 px-5">
          <nav class="mypage-link">
            <ul>
              <li><a th:href="@{/my/chat}">채팅장</a></li>
              <li><a th:href="@{/my/post}">게시글</a></li>
              <li class="on"><a th:href="@{/my/trades}">거래내역</a></li>
              <li><a th:href="@{/my/mypage-profile}">회원정보</a></li>
            </ul>
          </nav>
        </div>
        <div class="col-8 contents">
          <div class="mypage-search-wrap">
            <div class="mypage-search">
              <form action="">
                <div class="row mb-2 w-50">
                  <label for="" class="col-3 col-form-label label-100 fw-bold"
                    >검색어</label
                  >
                  <div class="col-9">
                    <select
                      class="form-select"
                      aria-label="Default select example"
                    >
                      <option selected>거래상태</option>
                      <option value="1">거래 ID</option>
                    </select>
                  </div>
                </div>
                <div class="row mb-2 w-50">
                  <label for="" class="col-3 col-form-label label-100 fw-bold"
                    >날짜</label
                  >
                  <div class="col-4">
                    <input type="date" class="form-control" id="" />
                  </div>
                  <div
                    class="col-1 d-flex align-items-center justify-content-center"
                  >
                    ~
                  </div>
                  <div class="col-4">
                    <input type="date" class="form-control w-100" id="" />
                  </div>
                </div>

                <div class="btn-wrap text-center">
                  <button class="btn btn-primary btn-lg w-20">검색</button>
                  <button class="btn btn-secondary btn-lg w-20">초기화</button>
                </div>
              </form>
            </div>
            <div class="row mt-5 result-list">
              <table class="table text-center">
                <thead>
                  <tr>
                    <th>거래 ID</th>
                    <th>게시글 ID</th>
                    <th>임차인</th>
                    <th>임대인</th>
                    <th>거래상태</th>
                    <th>요청일</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>006</td>
                    <td>002</td>
                    <td>임차인 이름</td>
                    <td>임대인 이름</td>
                    <td><span class="ing">요청</span></td>
                    <td>2025-07-05</td>
                  </tr>
                  <tr>
                    <td>006</td>
                    <td>002</td>
                    <td>임차인 이름</td>
                    <td>임대인 이름</td>
                    <td><span class="ing">요청</span></td>
                    <td>2025-07-05</td>
                  </tr>
                  <tr>
                    <td>006</td>
                    <td>002</td>
                    <td>임차인 이름</td>
                    <td>임대인 이름</td>
                    <td><span class="ing">요청</span></td>
                    <td>2025-07-05</td>
                  </tr>
                  <tr>
                    <td>006</td>
                    <td>002</td>
                    <td>임차인 이름</td>
                    <td>임대인 이름</td>
                    <td><span class="ing">요청</span></td>
                    <td>2025-07-05</td>
                  </tr>
                  <tr>
                    <td>006</td>
                    <td>002</td>
                    <td>임차인 이름</td>
                    <td>임대인 이름</td>
                    <td><span class="ing">요청</span></td>
                    <td>2025-07-05</td>
                  </tr>
                  <tr>
                    <td>006</td>
                    <td>002</td>
                    <td>임차인 이름</td>
                    <td>임대인 이름</td>
                    <td><span class="ing">요청</span></td>
                    <td>2025-07-05</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer>
      <div class="container">
        <div class="row pt-5">
          <div class="col-7">
            <ul class="d-flex gap-3">
              <li><a href="">이용약관</a></li>
              <li><a href="">개인정보처리방침</a></li>
              <li><a href="">위치기반서비스</a></li>
              <li><a href="">이용약관</a></li>
              <li><a href="">이메일 무단수집거부</a></li>
              <li><a href="">법적고지</a></li>
              <li><a href="">사업자정보</a></li>
            </ul>
          </div>
          <div class="col-5">
            <p>
              대표이사 : 이몽룡 | 개인정보보호책임자 : 임춘향 | 사업자등록번호 :
              8282-82-828282
            </p>
            <p>
              통신판매업종신고 : 제 2025-서울강남구-8282 | 대표이메일 :
              gagi@gagi.store
            </p>
            <p>
              copyright ⓒ 2021. 가지 : 가장가까운지역창고 Co., Ltd. All rights
              reserved.
            </p>
          </div>
        </div>
      </div>
    </footer>
  </body>
  <script>
    // This is an example script, please modify as needed
    const rangeInput = document.querySelector("#range-input");
    const rangeOutput = document.querySelector("#range-value");

    // Set initial value
    rangeOutput.textContent = rangeInput.value;

    rangeInput.addEventListener("input", function () {
      rangeOutput.textContent = this.value;
    });
  </script>
</html>
