.list-box {
  padding: 100px 0;
}
.list-box .list li {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px dashed #ccc;
}
.list-box .list li .thumbnail {
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
}
.list-box .list li dl {
  display: flex;
}
.list-box .list li dl dt {
  margin-right: 20px;
}

.list-wrap {
  padding-top: 100px;
}

.ing,.end,.on {
  padding:5px 10px;
  display: inline-block;
  font-size: 12px;
  border-radius: 100px;
  font-weight: 700;
  vertical-align: middle;
}
.ing {
  background-color: #21a6de;

}
.end {
  background-color: #8e8e8e;
}
/*
.on {
  background-color: #f00;
  color: #fff;
}
*/