.sector {
  padding-top: 100px;
}
.sector ul {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-left: 0;
}
.sector ul li.on a {
  background-color: #5f328e;
  color: #fff;
}
.sector ul li a {
  display: flex;
  min-width: 150px;
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 20px;
  background-color: #eee;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
}

.custom-check-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.custom-check {
  width: calc(33.33% - 20px);
  aspect-ratio: 1/1;
  align-items: center;
  cursor: pointer;
  position: relative;
  font-size: 16px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.custom-check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.custom-check span {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #eee;
  border-radius: 20px;
  transition: 0.2s;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  font-weight: normal;
}
.custom-check input:checked ~ span {
  background-color: #783fb4;
  border: 5px solid #2d1743;
  color: #fff;
}
.custom-check span:after {
  content: "";
  position: absolute;
  display: none;
}
.custom-check input:checked ~ span:after {
  display: block;
}
.custom-check span:after {
  left: 20px;
  top: 20px;
  width: 15px;
  height: 30px;
  border: solid white;
  border-width: 0 4px 4px 0;
  transform: rotate(45deg);
}